
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                  #  @ViewBag.carcount
                                </h2>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                            <h5 class="card-title mb-0 text-white"> Lokasyon Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.locationcount
                                </h2>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yazar-Personel Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Toplam Personel</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.authorcount
                                </h2>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Toplam Blog Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Tüm Zamanlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.blogcount
                                </h2>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Toplam Marka Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Aktif Markalarımız</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    #  @ViewBag.brandCount
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Ortalama Araç Fİyatı</span>
                            <h5 class="card-title mb-0 text-white"> Günlük Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.avgPriceForDaily
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Ortalama Araç Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">Haftalık Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.avgRentPriceForWeekly
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Ortalama Araç Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">Aylık Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.avgRentPriceForMounthly
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Otomatik Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    #  @ViewBag.carCountByTransmassionIsAuto
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En Fazla Araçlı Marka</span>
                            <h5 class="card-title mb-0 text-white"> Marka Adı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.brandNameByMaxCar
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En İyi Blog</span>
                            <h5 class="card-title mb-0 text-white">En Fazla Yorum Alan Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.blogTitleByMaxBlogComment
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">10.000 Km Altındaki Araçlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.carCountByKmSmallerThen1000
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                            <h5 class="card-title mb-0 text-white">Benzin-Dizel Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    #  @ViewBag.carCountByFuelGasolineOrDiesel
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                            <h5 class="card-title mb-0 text-white">Elektrikli Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.carCountByFuelElectiric
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                            <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.carBrandAndModelByRentPriceMaxroperty
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                            <h5 class="card-title mb-0 text-white">En Ucuz</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.carBrandAndModelByRentPriceMin
                                </h2>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

